<div>
  <h5>Login</h5>
  <div>
    <label for="logging">Login</label>
    <input type="text" class="form-control" id="username" placeholder="Username" [(ngModel)]="username">
  </div>
  <div>
    <label for="logging">Password</label>
    <input type="password" class="form-control" id="password" placeholder="Password" [(ngModel)]="password">
  </div>
  <span>
    <button type="submit" class="btn btn-primary" (click)="tryToLogin()">Login</button>
  </span>
  <span>
    <a [routerLink]='["/register"]' (click)='collapse()'>
      Register
    </a>
  </span>
</div>
