<div>
  <h5>Create game</h5>
  <div>
    <label for="game_creation">Provide new game name:</label>
    <input type="text" class="form-control" id="gameName" placeholder="Game Name" [(ngModel)]="gameName">
  </div>
  <span>
    <button type="submit" class="btn btn-primary" (click)="tryToCreateGame()">Create</button>
  </span>
</div>
