<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse' [attr.aria-expanded]='isExpanded' (click)='toggle()'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]='["/"]'>{{ profileNameDescription }}</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse' [ngClass]='{ "in": isExpanded }'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
                    <a [routerLink]='["/"]' (click)='collapse()'>
                        <span class='glyphicon glyphicon-home'></span> Home
                    </a>
                </li>
                <li [routerLinkActive]='["link-active"]' *ngIf="!isLoggedIn">
                    <a [routerLink]='["/login"]' (click)='collapse()'>
                        <span class='glyphicon glyphicon-th-list'></span> Login
                    </a>
                </li>
                <li *ngIf="isLoggedIn">
                    <a [routerLink]='["/select_game"]' (click)='collapse()'>
                        <span class='glyphicon glyphicon-th-list'></span> Select a game
                    </a>
                </li>
                <li [routerLinkActive]='["link-active"]' *ngIf="isLoggedIn">
                    <a [routerLink]='["/buildings"]' (click)='collapse()'>
                        <span class='glyphicon glyphicon-th-list'></span> Buildings
                    </a>
                </li>
                <li *ngIf="isLoggedIn">
                    <a [routerLink]='["/"]' (click)='logOutAndRefresh()'>
                        <span class='glyphicon glyphicon-th-list'></span> Log out
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
