<div>
  <h5>Register</h5>
  <div>
    <label for="registration">Login</label>
    <input type="text" class="form-control" id="username" placeholder="Username" [(ngModel)]="username">
  </div>
  <div>
    <label for="registration">Password</label>
    <input type="password" class="form-control" id="password" placeholder="Password" [(ngModel)]="password">
  </div>
  <span>
    <button type="submit" class="btn btn-primary" (click)="tryToRegister()">Register</button>
  </span>
  <p *ngIf="hasRegistrationSucceeded">
    Registration succeeded.
  </p>
  <p *ngIf="hasRegistrationFailed">
    Registration failed. Input data incorrect or user name already taken.
  </p>
</div>
